@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/coolvetica");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-text-primary: rgb(var(--color-text-primary));
  --color-text-secondary: rgb(var(--color-text-secondary));
  --color-text-tertiary: rgb(var(--color-text-tertiary));

  /* Background colors */
  --color-bg-app: rgb(var(--color-bg-app));
  --color-bg-primary: rgb(var(--color-bg-primary));
  --color-bg-secondary: rgb(var(--color-bg-secondary));
  --color-bg-careers: rgb(var(--color-bg-careers));
  --color-bg-additional-1: rgb(var(--color-bg-additional-1));
  --color-bg-additional-2: rgb(var(--color-bg-additional-2));
  --color-bg-additional-3: rgb(var(--color-bg-additional-3));
  --color-bg-contrast-1: rgb(var(--color-bg-contrast-1));
  --color-bg-contrast-2: rgb(var(--color-bg-contrast-2));

  /* Border colors */
  --color-border-1: rgb(var(--color-border-1));
  --color-border-2: rgb(var(--color-border-2));
  --color-border-3: rgb(var(--color-border-3));
  --color-border-special-inset-1: rgb(var(--color-border-special-inset-1));

  /* Transparent backgrounds */
  --color-bg-primary-transparent: rgb(var(--color-bg-primary-transparent));
  --color-bg-secondary-transparent: rgb(var(--color-bg-secondary-transparent));
  --color-bg-additional-1-transparent: rgb(
    var(--color-bg-additional-1-transparent)
  );
  --color-bg-additional-2-transparent: rgb(
    var(--color-bg-additional-2-transparent)
  );
  --color-bg-additional-3-transparent: rgb(
    var(--color-bg-additional-3-transparent)
  );
  --color-bg-contrast-1-transparent: rgb(
    var(--color-bg-contrast-1-transparent)
  );
  --color-bg-contrast-2-transparent: rgb(
    var(--color-bg-contrast-2-transparent)
  );

  /* Transparent borders */
  --color-border-1-transparent: rgb(var(--color-border-1-transparent));
  --color-border-2-transparent: rgb(var(--color-border-2-transparent));
  --color-border-3-transparent: rgb(var(--color-border-3-transparent));

  /* Overlay */
  --color-overlay: rgb(var(--color-overlay));

  /* Tier colors */
  --color-legendary: rgb(var(--color-legendary));
  --color-legendary-transparent: rgb(var(--color-legendary-transparent));
  --color-legendary-transparent-1: rgb(var(--color-legendary-transparent-1));

  --color-epic: rgb(var(--color-epic));
  --color-epic-transparent: rgb(var(--color-epic-transparent));
  --color-epic-transparent-1: rgb(var(--color-epic-transparent-1));

  --color-rare: rgb(var(--color-rare));
  --color-rare-transparent: rgb(var(--color-rare-transparent));
  --color-rare-transparent-1: rgb(var(--color-rare-transparent-1));

  --color-common: rgb(var(--color-common));
  --color-common-transparent: rgb(var(--color-common-transparent));
  --color-common-transparent-1: rgb(var(--color-common-transparent-1));

  /* Accent hues */
  --color-blue-6: rgb(var(--color-blue-6));
  --color-blue-7: rgb(var(--color-blue-7));
  --color-pink-1: rgb(var(--color-pink-1));
  --color-pink-2: rgb(var(--color-pink-2));
  --color-purple-1: rgb(var(--color-purple-1));
  --color-purple-2: rgb(var(--color-purple-2));

  /* Link colors */
  --color-link: rgb(var(--color-link));
  --color-link-hover: rgb(var(--color-link-hover));

  /* Status colors */
  --color-success-1: rgb(var(--color-success-1));
  --color-success-1-transparent-1: rgb(var(--color-success-1-transparent-1));
  --color-success-1-transparent-2: rgb(var(--color-success-1-transparent-2));

  --color-success-2: rgb(var(--color-success-2));
  --color-success-2-transparent-1: rgb(var(--color-success-2-transparent-1));
  --color-success-2-transparent-2: rgb(var(--color-success-2-transparent-2));

  --color-success-3: rgb(var(--color-success-3));
  --color-success-3-transparent-1: rgb(var(--color-success-3-transparent-1));
  --color-success-3-transparent-2: rgb(var(--color-success-3-transparent-2));

  --color-warning: rgb(var(--color-warning));
  --color-warning-transparent-1: rgb(var(--color-warning-transparent-1));
  --color-warning-transparent-2: rgb(var(--color-warning-transparent-2));

  --color-caution: rgb(var(--color-caution));
  --color-caution-transparent-1: rgb(var(--color-caution-transparent-1));
  --color-caution-transparent-2: rgb(var(--color-caution-transparent-2));

  --color-error-1: rgb(var(--color-error-1));
  --color-error-1-transparent-1: rgb(var(--color-error-1-transparent-1));
  --color-error-1-transparent-2: rgb(var(--color-error-1-transparent-2));

  --color-error-2: rgb(var(--color-error-2));
  --color-error-2-transparent-1: rgb(var(--color-error-2-transparent-1));
  --color-error-2-transparent-2: rgb(var(--color-error-2-transparent-2));

  --color-error-3: rgb(var(--color-error-3));
  --color-error-3-transparent-1: rgb(var(--color-error-3-transparent-1));
  --color-error-3-transparent-2: rgb(var(--color-error-3-transparent-2));

  /* Base color references */
  --color-white: rgb(var(--color-white));
  --color-black: rgb(var(--color-black));

  /* Radius and font */
  --radius: var(--radius);
  --font-sans: var(--font-family-sans);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --color-white: 255 255 255;
  --color-black: 0 0 0;
  --color-text-primary: 23 23 23;
  --color-text-secondary: 102 102 102;
  --color-text-tertiary: 201 201 201;
  --color-bg-app: 250 250 250;
  --color-bg-primary: 255 255 255;
  --color-bg-secondary: 250 250 250;
  --color-bg-careers: 250 250 250;
  --color-bg-additional-1: 242 242 242;
  --color-bg-additional-2: 235 235 235;
  --color-bg-additional-3: 230 230 230;
  --color-bg-contrast-1: 143 143 143;
  --color-bg-contrast-2: 128 128 128;
  --color-border-1: 235 235 235;
  --color-border-2: 220 220 220;
  --color-border-3: 201 201 201;
  --color-bg-primary-transparent: rgb(var(--color-bg-primary));
  --color-bg-secondary-transparent: rgb(var(--color-bg-secondary));
  --color-bg-additional-1-transparent: rgb(var(--color-bg-additional-1));
  --color-bg-additional-2-transparent: rgb(var(--color-bg-additional-2));
  --color-bg-additional-3-transparent: rgb(var(--color-bg-additional-3));
  --color-bg-contrast-1-transparent: rgb(var(--color-bg-contrast-1));
  --color-bg-contrast-2-transparent: rgb(var(--color-bg-contrast-2));
  --color-border-1-transparent: rgb(var(--color-border-1));
  --color-border-2-transparent: rgb(var(--color-border-2));
  --color-border-3-transparent: rgb(var(--color-border-3));
  --color-border-special-inset-1: rgb(var(--color-black) / 8%);
  --color-frosted-1: rgb(var(--color-white) / 4%);
  --color-frosted-2: rgb(var(--color-white) / 8%);
  --color-frosted-3: rgb(var(--color-white) / 12%);
  --color-frosted-4: rgb(var(--color-white) / 16%);
  --color-frosted-5: rgb(var(--color-white) / 24%);
  --color-frosted-6: rgb(var(--color-white) / 32%);
  --color-frosted-7: rgb(var(--color-white) / 50%);
  --color-overlay: rgb(var(--color-black) / 40%);
  --color-legendary: 255 138 0;
  --color-legendary-transparent: rgb(var(--color-legendary) / 30%);
  --color-legendary-transparent-1: rgb(var(--color-legendary) / 8%);
  --color-epic: 163 53 238;
  --color-epic-transparent: rgb(var(--color-epic) / 30%);
  --color-epic-transparent-1: rgb(var(--color-epic) / 8%);
  --color-rare: 0 102 255;
  --color-rare-transparent: rgb(var(--color-rare) / 30%);
  --color-rare-transparent-1: rgb(var(--color-rare) / 8%);
  --color-common: 143 143 143;
  --color-common-transparent: rgb(var(--color-common) / 30%);
  --color-common-transparent-1: rgb(var(--color-common) / 8%);
  --color-blue-1: 131 195 255;
  --color-blue-2: 32 146 255;
  --color-blue-3: 7 134 255;
  --color-blue-4: 6 121 230;
  --color-blue-5: 5 94 179;
  --color-blue-6: 32 151 255;
  --color-blue-7: 35 2 143;
  --color-link: var(--color-blue-3);
  --color-link-hover: var(--color-blue-5);
  --color-pink-1: 255 0 170;
  --color-pink-2: 230 0 153;
  --color-purple-1: 92 0 210;
  --color-purple-2: 123 0 255;
  --color-success-1: 40 169 72;
  --color-success-1-transparent-1: rgb(var(--color-success-1) / 8%);
  --color-success-1-transparent-2: rgb(var(--color-success-1) / 16%);
  --color-success-2: 3 188 49;
  --color-success-2-transparent-1: rgb(var(--color-success-2) / 8%);
  --color-success-2-transparent-2: rgb(var(--color-success-2) / 16%);
  --color-success-3: 0 154 39;
  --color-success-3-transparent-1: rgb(var(--color-success-3) / 8%);
  --color-success-3-transparent-2: rgb(var(--color-success-3) / 16%);
  --color-warning: 230 184 0;
  --color-warning-transparent-1: rgb(var(--color-warning) / 8%);
  --color-warning-transparent-2: rgb(var(--color-warning) / 16%);
  --color-caution: 244 113 0;
  --color-caution-transparent-1: rgb(var(--color-caution) / 8%);
  --color-caution-transparent-2: rgb(var(--color-caution) / 16%);
  --color-error-1: 234 57 67;
  --color-error-1-transparent-1: rgb(var(--color-error-1) / 8%);
  --color-error-1-transparent-2: rgb(var(--color-error-1) / 16%);
  --color-error-2: 232 33 43;
  --color-error-2-transparent-1: rgb(var(--color-error-2) / 8%);
  --color-error-2-transparent-2: rgb(var(--color-error-2) / 16%);
  --color-error-3: 203 21 30;
  --color-error-3-transparent-1: rgb(var(--color-error-3) / 8%);
  --color-error-3-transparent-2: rgb(var(--color-error-3) / 16%);
  --z-inset-border: 10;
  --z-sidebar: 110;
  --z-fixed-bottom-sheet: 210;
  --z-takeover-modal-overlay: 310;
  --z-takeover-modal: 410;
  --z-overlay: 510;
  --z-sheet: 610;
  --z-modal: 710;
  --z-tooltip: 810;
  --z-toast: 910;
  --z-top: 1010;
  --ios-inset-bottom: 0px;
  color: rgb(var(--color-text-primary));
  --font-family-sans: "Montserrat", "Coolvetica", ui-sans-serif, system-ui,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-family-display: "Coolvetica", "Montserrat", sans-serif;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #bf00ff;
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --color-white: 255 255 255;
  --color-black: 0 0 0;
  --color-text-primary: 255 255 255;
  --color-text-secondary: 172 173 174;
  --color-text-tertiary: 67 68 71;
  --color-bg-app: 16 16 17;
  --color-bg-primary: 20 20 21;
  --color-bg-secondary: 23 24 26;
  --color-bg-careers: 8 8 8;
  --color-bg-additional-1: 27 29 31;
  --color-bg-additional-2: 38 39 45;
  --color-bg-additional-3: 60 61 64;
  --color-bg-contrast-1: 137 138 140;
  --color-bg-contrast-2: 149 149 151;
  --color-border-1: 38 39 45;
  --color-border-2: 52 53 60;
  --color-border-3: 67 68 71;
  --color-bg-primary-transparent: rgb(var(--color-white) / 2%);
  --color-bg-secondary-transparent: rgb(var(--color-white) / 4%);
  --color-bg-additional-1-transparent: rgb(var(--color-white) / 8%);
  --color-bg-additional-2-transparent: rgb(var(--color-white) / 12%);
  --color-bg-additional-3-transparent: rgb(var(--color-white) / 16%);
  --color-bg-contrast-1-transparent: rgb(var(--color-white) / 24%);
  --color-bg-contrast-2-transparent: rgb(var(--color-white) / 32%);
  --color-border-1-transparent: rgb(var(--color-white) / 8%);
  --color-border-2-transparent: rgb(var(--color-white) / 12%);
  --color-border-3-transparent: rgb(var(--color-white) / 16%);
  --color-border-special-inset-1: rgb(var(--color-white) / 8%);
  --color-overlay: rgb(var(--color-black) / 60%);
  --color-legendary: 255 138 0;
  --color-legendary-transparent: rgb(var(--color-legendary) / 30%);
  --color-legendary-transparent-1: rgb(var(--color-legendary) / 8%);
  --color-epic: 211 88 255;
  --color-epic-transparent: rgb(var(--color-epic) / 30%);
  --color-epic-transparent-1: rgb(var(--color-epic) / 8%);
  --color-rare: 0 163 255;
  --color-rare-transparent: rgb(var(--color-rare) / 30%);
  --color-rare-transparent-1: rgb(var(--color-rare) / 8%);
  --color-common: 137 138 140;
  --color-common-transparent: rgb(var(--color-common) / 30%);
  --color-common-transparent-1: rgb(var(--color-common) / 8%);
  --color-blue-6: 32 151 255;
  --color-blue-7: 35 2 143;
  --color-pink-1: 255 0 170;
  --color-pink-2: 230 0 153;
  --color-purple-1: 92 0 210;
  --color-purple-2: 123 0 255;
  --color-link: var(--color-blue-1);
  --color-link-hover: var(--color-blue-3);
  --color-success-1: 71 187 100;
  --color-success-1-transparent-1: rgb(var(--color-success-1) / 8%);
  --color-success-1-transparent-2: rgb(var(--color-success-1) / 16%);
  --color-success-2: 15 190 57;
  --color-success-2-transparent-1: rgb(var(--color-success-2) / 8%);
  --color-success-2-transparent-2: rgb(var(--color-success-2) / 16%);
  --color-success-3: 8 157 46;
  --color-success-3-transparent-1: rgb(var(--color-success-3) / 8%);
  --color-success-3-transparent-2: rgb(var(--color-success-3) / 16%);
  --color-warning: 255 204 0;
  --color-warning-transparent-1: rgb(var(--color-warning) / 8%);
  --color-warning-transparent-2: rgb(var(--color-warning) / 16%);
  --color-caution: 244 113 0;
  --color-caution-transparent-1: rgb(var(--color-caution) / 8%);
  --color-caution-transparent-2: rgb(var(--color-caution) / 16%);
  --color-error-1: 226 71 86;
  --color-error-1-transparent-1: rgb(var(--color-error-1) / 8%);
  --color-error-1-transparent-2: rgb(var(--color-error-1) / 16%);
  --color-error-2: 222 43 61;
  --color-error-2-transparent-1: rgb(var(--color-error-2) / 8%);
  --color-error-2-transparent-2: rgb(var(--color-error-2) / 16%);
  --color-error-3: 194 30 47;
  --color-error-3-transparent-1: rgb(var(--color-error-3) / 8%);
  --color-error-3-transparent-2: rgb(var(--color-error-3) / 16%);
  color: rgb(var(--color-text-primary));
  --font-family-sans: "Montserrat", "Coolvetica", ui-sans-serif, system-ui,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-family-display: "Coolvetica", "Montserrat", sans-serif;
}
.glass {
  backdrop-filter: blur(7px);
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 5px 0px 10px 2px rgba(0, 0, 0, 0.05);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-bg-app text-foreground font-sans;
    font-family: var(--font-family-sans);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-display);
  }
}
